<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Bascit RTS</Name>
    <Version>1.1</Version>
    <Title>Basic RTS Installer</Title>
    <Publisher>HE-Arc Ingenierie</Publisher>
    <StartMenuDir>Games</StartMenuDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <TargetDir>@ApplicationsDir@/Basic-RTS</TargetDir>
</Installer>